<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selecting-columns-and-rows-efficiently" data-toc-modified-id="Selecting-columns-and-rows-efficiently-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selecting columns and rows efficiently</a></span><ul class="toc-item"><li><span><a href="#Measuring-time-I" data-toc-modified-id="Measuring-time-I-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Measuring time I</a></span></li><li><span><a href="#Measuring-time-II" data-toc-modified-id="Measuring-time-II-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Measuring time II</a></span></li><li><span><a href="#Locate-rows:-.iloc[]-and-.loc[]" data-toc-modified-id="Locate-rows:-.iloc[]-and-.loc[]-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Locate rows: .iloc[] and .loc[]</a></span></li><li><span><a href="#Column-selection:-.iloc[]-vs-by-name" data-toc-modified-id="Column-selection:-.iloc[]-vs-by-name-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Column selection: .iloc[] vs by name</a></span></li><li><span><a href="#Select-random-rows" data-toc-modified-id="Select-random-rows-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Select random rows</a></span></li><li><span><a href="#Random-column-selection" data-toc-modified-id="Random-column-selection-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Random column selection</a></span></li></ul></li><li><span><a href="#Replacing-values-in-a-DataFrame" data-toc-modified-id="Replacing-values-in-a-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Replacing values in a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Replace-scalar-values-using-.replace()" data-toc-modified-id="Replace-scalar-values-using-.replace()-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Replace scalar values using .replace()</a></span><ul class="toc-item"><li><span><a href="#Replacing-scalar-values-I" data-toc-modified-id="Replacing-scalar-values-I-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Replacing scalar values I</a></span></li><li><span><a href="#Replace-scalar-values-II" data-toc-modified-id="Replace-scalar-values-II-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Replace scalar values II</a></span></li></ul></li><li><span><a href="#Replace-values-using-lists" data-toc-modified-id="Replace-values-using-lists-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Replace values using lists</a></span><ul class="toc-item"><li><span><a href="#Replace-multiple-values-I" data-toc-modified-id="Replace-multiple-values-I-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Replace multiple values I</a></span></li><li><span><a href="#Replace-multiple-values-II" data-toc-modified-id="Replace-multiple-values-II-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Replace multiple values II</a></span></li></ul></li><li><span><a href="#Replace-values-using-dictionaries" data-toc-modified-id="Replace-values-using-dictionaries-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Replace values using dictionaries</a></span><ul class="toc-item"><li><span><a href="#Replace-single-values-I" data-toc-modified-id="Replace-single-values-I-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Replace single values I</a></span></li><li><span><a href="#Replace-single-values-II" data-toc-modified-id="Replace-single-values-II-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Replace single values II</a></span></li><li><span><a href="#Replace-multiple-values-III" data-toc-modified-id="Replace-multiple-values-III-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Replace multiple values III</a></span></li></ul></li></ul></li><li><span><a href="#Efficient-iterating" data-toc-modified-id="Efficient-iterating-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Efficient iterating</a></span><ul class="toc-item"><li><span><a href="#Looping-using-the-.iterrows()-function" data-toc-modified-id="Looping-using-the-.iterrows()-function-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Looping using the .iterrows() function</a></span><ul class="toc-item"><li><span><a href="#Create-a-generator-for-a-pandas-DataFrame" data-toc-modified-id="Create-a-generator-for-a-pandas-DataFrame-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Create a generator for a pandas DataFrame</a></span></li><li><span><a href="#The-iterrows()-function-for-looping" data-toc-modified-id="The-iterrows()-function-for-looping-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>The iterrows() function for looping</a></span></li></ul></li><li><span><a href="#Looping-using-the-.apply()-function" data-toc-modified-id="Looping-using-the-.apply()-function-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Looping using the .apply() function</a></span><ul class="toc-item"><li><span><a href="#.apply()-for-rows-iteration" data-toc-modified-id=".apply()-for-rows-iteration-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>.apply() for rows iteration</a></span></li></ul></li><li><span><a href="#Vectorization-over-pandas-series" data-toc-modified-id="Vectorization-over-pandas-series-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Vectorization over pandas series</a></span><ul class="toc-item"><li><span><a href="#Vectorization-with-NumPy-arrays-using-.values()" data-toc-modified-id="Vectorization-with-NumPy-arrays-using-.values()-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Vectorization with NumPy arrays using .values()</a></span></li></ul></li></ul></li><li><span><a href="#Data-manipulation-using-.groupby()" data-toc-modified-id="Data-manipulation-using-.groupby()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data manipulation using .groupby()</a></span><ul class="toc-item"><li><span><a href="#Data-transformation-using-.groupby().transform" data-toc-modified-id="Data-transformation-using-.groupby().transform-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Data transformation using .groupby().transform</a></span><ul class="toc-item"><li><span><a href="#The-min-max-normalization-using-.transform()" data-toc-modified-id="The-min-max-normalization-using-.transform()-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>The min-max normalization using .transform()</a></span></li><li><span><a href="#Transforming-values-to-probabilities" data-toc-modified-id="Transforming-values-to-probabilities-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Transforming values to probabilities</a></span></li><li><span><a href="#Validation-of-normalization" data-toc-modified-id="Validation-of-normalization-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Validation of normalization</a></span></li></ul></li><li><span><a href="#Data-filtration-using-the-filter()-function" data-toc-modified-id="Data-filtration-using-the-filter()-function-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Data filtration using the filter() function</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
poker_hands = pd.read_csv('./Data/poker_hand.csv')
baby = pd.read_csv('./Data/Popular_Baby_Names.csv')
resturant = pd.read_csv('./Data/restaurant_data.csv')

In [3]:
# these value are missing in the provided dataset
mapper = {0:'Nothing in hand',1:'One pair',2:'Two pairs',3:'Three of a kind',4:'Straight',5:'Flush',6:'Full house',7:'Four of a kind ',8:'Straight flush',9:'Royal flush'}

# Adding explanation column
poker_hands['Explanation'] = poker_hands['Class'].map(mapper)

# Selecting columns and rows efficiently

## Measuring time I
- In the lecture slides, you saw how the time.time() function can be loaded and used to assess the time required to perform a basic mathematical operation.

- Now, you will use the same strategy to assess two different methods for solving a similar problem: calculate the sum of squares of all the positive integers from 1 to 1 million (1,000,000).

- Similar to what you saw in the video, you will compare two methods; one that uses brute force and one more mathematically sophisticated.

- In the function formula, we use the standard formula

`Nâˆ—(N+1)(2N+1)6`

where N=1,000,000.

- In the function brute_force we loop over each number from 1 to 1 million and add it to the result.

In [3]:
# The function was originally preloaded in datacamp but was extracted using instructions here:
# https://stackoverflow.com/questions/1562759/can-python-print-a-function-definition
# import inspect
# print(inspect.getsource(formula))

def formula(N):
    return N*(N+1)*(2*N+1)/6

def brute_force(N):
    res = 0
    UL = N+1
    for i in range(1,UL):
        res+=i^2
    return res

In [4]:
import time

# Calculate the result of the problem using formula() and print the time required
N = 1000000
fm_start_time = time.time()
first_method = formula(N)
print("Time using formula: {} sec".format(time.time() - fm_start_time))

# Calculate the result of the problem using brute_force() and print the time required
sm_start_time = time.time()
second_method = brute_force(N)
print("Time using the brute force: {} sec".format(time.time() - sm_start_time))

Time using formula: 7.772445678710938e-05 sec
Time using the brute force: 0.11705136299133301 sec

## Measuring time II
- As we discussed in the lectures, in the majority of cases, a list comprehension is faster than a for loop.

- In this demonstration, you will see a case where a list comprehension and a for loop have so small difference in efficiency that choosing either method will perform this simple task instantly.

- In the list words, there are random words downloaded from the Internet. We are interested to create another list called listlet in which we only keep the words that start with the letter b.

- In case you are not familiar with dealing with strings in Python, each string has the `.startswith()` attribute, which returns a True/False statement whether the string starts with a specific letter/phrase or not.

In [5]:
words = ['a', 'AAA', 'AAAS', 'aardvark', 'Aarhus', 'Aaron', 'ABA', 'Ababa', 'aback', 'abacus', 'abalone', 'abandon', 'abase', 'abash', 'abate', 'abbas', 'abbe', 'abbey', 'abbot', 'Abbott', 'abbreviate', 'abc', 'abdicate', 'abdomen', 'abdominal', 'abduct', 'Abe', 'abed', 'Abel', 'Abelian', 'Abelson', 'Aberdeen', 'Abernathy', 'aberrant', 'aberrate', 'abet', 'abetted', 'abetting', 'abeyance', 'abeyant', 'abhor', 'abhorred', 'abhorrent', 'abide', 'Abidjan', 'Abigail', 'abject', 'abjure', 'ablate', 'ablaze', 'able', 'ablution', 'abnegation', 'Abner', 'abnormal', 'Abo', 'aboard', 'abode', 'abolish', 'abolition', 'abominable', 'abominate', 'aboriginal', 'aborigine', 'aborning', 'abort', 'abound', 'about', 'above', 'aboveboard', 'aboveground', 'abovementioned', 'abrade', 'Abraham', 'Abram', 'Abramson', 'abrasion', 'abrasive', 'abreact', 'abreast', 'abridge', 'abridgment', 'abroad', 'abrogate', 'abrupt', 'abscess', 'abscissa', 'abscissae', 'abscond', 'absent', 'absentee', 'absenteeism', 'absentia', 'absentminded', 'absinthe', 'absolute', 'absolution', 'absolve', 'absorb', 'absorbent', 'absorption', 'absorptive', 'abstain', 'abstention', 'abstinent', 'abstract', 'abstractor', 'abstruse', 'absurd', 'absurdum', 'abuilding', 'abundant', 'abusable', 'abuse', 'abusive', 'abut', 'abutted', 'abutting', 'abysmal', 'abyss', 'Abyssinia', 'AC', 'acacia', 'academia', 'academic', 'academician', 'academy', 'Acadia', 'acanthus', 'Acapulco', 'accede', 'accelerate', 'accelerometer', 'accent', 'accentual', 'accentuate', 'accept', 'acceptant', 'acceptor', 'access', 'accessible', 'accession', 'accessory', 'accident', 'accidental', 'accipiter', 'acclaim', 'acclamation', 'acclimate', 'accolade', 'accommodate', 'accompaniment', 'accompanist', 'accompany', 'accomplice', 'accomplish', 'accord', 'accordant', 'accordion', 'accost', 'account', 'accountant', 'accouter', 'Accra', 'accredit', 'accreditation', 'accretion', 'accrual', 'accrue', 'acculturate', 'accumulate', 'accuracy', 'accurate', 'accusation', 'accusative', 'accusatory', 'accuse', 'accustom', 'ace', 'acerbic', 'acerbity', 'acetaminophen', 'acetate', 'acetic', 'acetone', 'acetylene', 'Achaean', 'ache', 'achieve', 'Achilles', 'aching', 'achromatic', 'acid', 'acidic', 'acidify', 'acidulate', 'acidulous', 'Ackerman', 'Ackley', 'acknowledge', 'acknowledgeable', 'ACM', 'acme', 'acolyte', 'acorn', 'acoustic', 'acquaint', 'acquaintance', 'acquiesce', 'acquiescent', 'acquire', 'acquisition', 'acquisitive', 'acquit', 'acquittal', 'acquitting', 'acre', 'acreage', 'acrid', 'acrimonious', 'acrimony', 'acrobacy', 'acrobat', 'acrobatic', 'acronym', 'acrophobia', 'acrophobic', 'acropolis', 'across', 'acrylate', 'acrylic', 'act', 'Actaeon', 'actinic', 'actinide', 'actinium', 'actinolite', 'actinometer', 'activate', 'Acton', 'actor', 'actress', 'actual', 'actuarial', 'actuate', 'acuity', 'acumen', 'acupuncture', 'acute', 'acyclic', 'ad', 'Ada', 'adage', 'adagio', 'Adair', 'Adam', 'adamant', 'Adamson', 'adapt', 'adaptation', 'adaptive', 'add', 'addend', 'addenda', 'addendum', 'addict', 'Addis', 'Addison', 'addition', 'additive', 'addle', 'address', 'addressee', 'Addressograph', 'adduce', 'Adelaide', 'Adele', 'Adelia', 'Aden', 'adenine', 'adenoma', 'adenosine', 'adept', 'adequacy', 'adequate', 'adhere', 'adherent', 'adhesion', 'adhesive', 'adiabatic', 'adieu', 'adipic', 'Adirondack', 'adjacent', 'adject', 'adjectival', 'adjoin', 'adjoint', 'adjourn', 'adjudge', 'adjudicate', 'adjunct', 'adjust', 'adjutant', 'Adkins', 'Adler', 'Adlerian', 'administer', 'administrable', 'administrate', 'administratrix', 'admiral', 'admiralty', 'admiration', 'admire', 'admissible', 'admission', 'admit', 'admittance', 'admitted', 'admitting', 'admix', 'admixture', 'admonish', 'admonition', 'ado', 'adobe', 'adolescent', 'Adolph', 'Adolphus', 'Adonis', 'adopt', 'adoption', 'adoptive', 'adoration', 'adore', 'adorn', 'adposition', 'adrenal', 'adrenalin', 'adrenaline', 'Adrian', 'Adriatic', 'Adrienne', 'adrift', 'adroit', 'adsorb', 'adsorbate', 'adsorption', 'adsorptive', 'adulate', 'adult', 'adulterate', 'adulterous', 'adultery', 'advance', 'advantage', 'advantageous', 'advent', 'adventitious', 'adventure', 'adventurous', 'adverb', 'adverbial', 'adversary', 'adverse', 'advert', 'advertise', 'advice', 'advisable', 'advise', 'advisee', 'advisor', 'advisory', 'advocacy', 'advocate', 'Aegean', 'aegis', 'Aeneas', 'Aeneid', 'aeolian', 'Aeolus', 'aerate', 'aerial', 'aerie', 'Aerobacter', 'aerobic', 'aerodynamic', 'aerofoil', 'aerogene', 'aeronautic', 'aerosol', 'aerospace', 'Aeschylus', 'Aesop', 'aesthete', 'aesthetic', 'afar', 'affable', 'affair', 'affect', 'affectate', 'affectionate', 'afferent', 'affiance', 'affidavit', 'affiliate', 'affine', 'affirm', 'affirmation', 'affirmative', 'affix', 'afflict', 'affluent', 'afford', 'afforest', 'afforestation', 'affricate', 'affront', 'Afghan', 'Afghanistan', 'aficionado', 'afield', 'afire', 'aflame', 'afloat', 'afoot', 'aforementioned', 'aforesaid', 'aforethought', 'afraid', 'afreet', 'afresh', 'Africa', 'Afrikaans', 'Afrikaner', 'afro', 'aft', 'afterbirth', 'aftereffect', 'afterglow', 'afterimage', 'afterlife', 'aftermath', 'afternoon', 'afterthought', 'afterward', 'afterword', 'again', 'against', 'Agamemnon', 'agar', 'agate', 'Agatha', 'agave', 'age', 'Agee', 'agenda', 'agent', 'agglomerate', 'agglutinate', 'agglutinin', 'aggravate', 'aggregate', 'aggression', 'aggressive', 'aggressor', 'aggrieve', 'aghast', 'agile', 'agitate', 'agleam', 'Agnes', 'Agnew', 'agnomen', 'agnostic', 'ago', 'agog', 'agone', 'agony', 'agouti', 'agrarian', 'agree', 'agreeable', 'agreeing', 'agribusiness', 'Agricola', 'agricultural', 'agriculture', 'agrimony', 'agronomist', 'agronomy', 'ague', 'Agway', 'ah', 'ahead', 'ahem', 'Ahmedabad', 'ahoy', 'aid', 'Aida', 'aide', 'Aides', 'Aiken', 'ail', 'ailanthus', 'aile', 'aileron', 'aim', "ain't", 'Ainu', 'air', 'airborne', 'airbrush', 'aircraft', 'airdrop', 'airedale', 'Aires', 'airfare', 'airfield', 'airflow', 'airframe', 'airlift', 'airline', 'airlock', 'airmail', 'airman', 'airmass', 'airmen', 'airpark', 'airplane', 'airport', 'airspeed', 'airstrip', 'airtight', 'airway', 'airy', 'aisle', 'Aitken', 'ajar', 'Ajax', 'AK', 'Akers', 'akin', 'Akron', 'AL', 'ala', 'Alabama', 'Alabamian', 'alabaster', 'alacrity', 'Aladdin', 'alai', 'Alameda', 'Alamo', 'alan', 'alarm', 'Alasdair', 'Alaska', 'Alastair', 'alb', 'alba', 'albacore', 'Albania', 'Albany', 'albatross', 'albeit', 'Alberich', 'Albert', 'Alberta', 'Alberto', 'albino', 'Albrecht', 'Albright', 'album', 'albumin', 'Albuquerque', 'Alcestis', 'alchemist', 'alchemy', 'Alcmena', 'Alcoa', 'alcohol', 'alcoholic', 'Alcott', 'alcove', 'Aldebaran', 'aldehyde', 'Alden', 'alder', 'alderman', 'aldermen', 'Aldrich', 'aldrin', 'ale', 'Alec', 'Aleck', 'aleph', 'alert', 'Aleutian', 'alewife', 'Alex', 'Alexander', 'Alexandra', 'Alexandre', 'Alexandria', 'Alexei', 'Alexis', 'alfalfa', 'alfonso', 'Alfred', 'Alfredo', 'alfresco', 'alga', 'algae', 'algaecide', 'algal', 'algebra', 'algebraic', 'Algenib', 'Alger', 'Algeria', 'Algiers', 'alginate', 'Algol', 'Algonquian', 'Algonquin', 'algorithm', 'algorithmic', 'Alhambra', 'Ali', 'alia', 'alias', 'alibi', 'Alice', 'Alicia', 'alien', 'alienate', 'alight', 'align', 'alike', 'alimentary', 'alimony', 'aliphatic', 'aliquot', 'Alison', 'Alistair', 'alive', 'alizarin', 'alkali', 'alkaline', 'alkaloid', 'all', 'Allah', 'Allan', 'allay', 'allegate', 'allege', 'Allegheny', 'allegiant', 'allegoric', 'allegory', 'Allegra', 'allegro', 'allele', 'allemand', 'Allen', 'Allentown', 'allergic', 'allergy', 'alleviate', 'alley', 'alleyway', 'alliance', 'alligator', 'Allis', 'Allison', 'alliterate', 'allmsgs', 'allocable', 'allocate', 'allot', 'allotropic', 'allotted', 'allotting', 'allow', 'allowance', 'alloy', 'allspice', 'Allstate', 'allude', 'allure', 'allusion', 'allusive', 'alluvial', 'alluvium', 'ally', 'allyl', 'Allyn', 'alma', 'Almaden', 'almagest', 'almanac', 'almighty', 'almond', 'almost', 'aloe', 'aloft', 'aloha', 'alone', 'along', 'alongside', 'aloof', 'aloud', 'alp', 'alpaca', 'alpenstock', 'Alpert', 'alpha', 'alphabet', 'alphabetic', 'alphanumeric', 'Alpheratz', 'Alphonse', 'alpine', 'already', 'Alsatian', 'also', 'Alsop', 'Altair', 'altar', 'alter', 'alterate', 'altercate', 'altern', 'alternate', 'althea', 'although', 'altimeter', 'altitude', 'alto', 'altogether', 'Alton', 'altruism', 'altruist', 'alum', 'alumina', 'aluminate', 'alumna', 'alumnae', 'alumni', 'alumnus', 'alundum', 'Alva', 'Alvarez', 'alveolar', 'alveoli', 'alveolus', 'Alvin', 'always', 'alyssum', 'A&M', 'am', 'AMA', 'Amadeus', 'amalgam', 'amalgamate', 'amanita', 'amanuensis', 'amaranth', 'Amarillo', 'amass', 'amateur', 'amateurish', 'amatory', 'amaze', 'Amazon', 'ambassador', 'amber', 'ambiance', 'ambidextrous', 'ambient', 'ambiguity', 'ambiguous', 'ambition', 'ambitious', 'ambivalent', 'amble', 'ambrose', 'ambrosia', 'ambrosial', 'ambulant', 'ambulatory', 'ambuscade', 'ambush', 'Amelia', 'ameliorate', 'amen', 'amend', 'amende', 'Amerada', 'America', 'Americana', 'americium', 'Ames', 'amethyst', 'amethystine', 'Amharic', 'Amherst', 'ami', 'amicable', 'amid', 'amide', 'amidst', 'amigo', 'amino', 'aminobenzoic', 'amiss', 'amity', 'Amman', 'Ammerman', 'ammeter', 'ammo', 'ammonia', 'ammoniac', 'ammonite', 'ammonium', 'ammunition', 'amnesia', 'amnesiac', 'amnesty', 'amniocentesis', 'amniotic', 'Amoco', 'amoeba', 'amoebae', 'amoeboid', 'amok', 'among', 'amongst', 'amoral', 'amorphous', 'amort', 'Amos', 'amount', 'amp', 'amperage', 'ampere', 'ampersand', 'Ampex', 'amphetamine', 'amphibian', 'amphibious', 'amphibole', 'amphibology', 'amphioxis', 'ample', 'amplify', 'amplitude', 'amply', 'amputate', 'amra', 'Amsterdam', 'Amtrak', 'amulet', 'amuse', 'amy', 'amygdaloid', 'an', 'ana', 'Anabaptist', 'Anabel', 'anachronism', 'anachronistic', 'anaconda', 'Anacreon', 'anaerobic', 'anaglyph', 'anagram', 'Anaheim', 'Analects', 'analeptic', 'analgesic', 'analogous', 'analogue', 'analogy', 'analyses', 'analysis', 'analyst', 'analytic', 'anamorphic', 'anaphora', 'anaphoric', 'anaplasmosis', 'anarch', 'anarchic', 'anarchy', 'Anastasia', 'anastigmat', 'anastigmatic', 'anastomosis', 'anastomotic', 'anathema', 'Anatole', 'anatomic', 'anatomist', 'anatomy', 'ancestor', 'ancestral', 'ancestry', 'anchor', 'anchorage', 'anchorite', 'anchovy', 'ancient', 'ancillary', 'and', 'Andalusia', 'Andean', 'Andersen', 'Anderson', 'Andes', 'andesine', 'andesite', 'Andorra', 'Andover', 'Andre', 'Andrea', 'Andrei', 'Andrew', 'androgen', 'Andromache', 'Andromeda', 'Andy', 'anecdotal', 'anecdote', 'anemone', 'anent', 'anew', 'angel', 'Angela', 'Angeles', 'angelfish', 'angelic', 'Angelica', 'Angelina', 'Angeline', 'Angelo', 'anger', 'Angie', 'angiosperm', 'angle', 'Angles', 'Anglican', 'Anglo', 'Anglophobia', 'Angola', 'Angora', 'angry', 'angst', 'angstrom', 'anguish', 'angular', 'Angus', 'anharmonic', 'Anheuser', 'anhydride', 'anhydrite', 'anhydrous', 'ani', 'aniline', 'animadversion', 'animadvert', 'animal', 'animate', 'animism', 'animist', 'animosity', 'anion', 'anionic', 'anise', 'aniseikonic', 'anisotropic', 'anisotropy', 'Anita', 'Ankara', 'ankle', 'Ann', 'Anna', 'annal', 'Annale', 'Annalen', 'Annapolis', 'Anne', 'anneal', 'annelid', 'Annette', 'annex', 'Annie', 'annihilate']

In [6]:
# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = [wrd for wrd in words if wrd.startswith('b')]

# Store and print the difference between the start and the current time
total_time_lc = time.time() - start_time
print('Time using list comprehension: {} sec'.format(total_time_lc))

# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = []
for wrd in words:
    if wrd.startswith('b'):
        letlist.append(wrd)
        
# Print the difference between the start and the current time
total_time_fl = time.time() - start_time
print('Time using for loop: {} sec'.format(total_time_fl))

Time using list comprehension: 0.00024771690368652344 sec
Time using for loop: 0.00026988983154296875 sec

## Locate rows: .iloc[] and .loc[]

- A big part of working with DataFrames is to locate specific entries in the dataset. You can locate rows in two ways:

    - By a specific value of a column (feature).
    - By the index of the rows (index). In this exercise, we will focus on the second way.

- If you have previous experience with pandas, you should be familiar with the .loc and .iloc indexers, which stands for 'location' and 'index location' respectively. In most cases, the indices will be the same as the position of each row in the Dataframe (e.g. the row with index 13 will be the 14th entry).

In [7]:
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)

# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.loc[row_nums]
loc_end_time = time.time()

# Print the time it took to select the rows using .loc
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

# Select the rows using .iloc[] and row_nums and record the time before and after
iloc_start_time = time.time()
rows = poker_hands.iloc[row_nums]
iloc_end_time = time.time()

# Print the time it took to select the rows using .iloc
print("Time using .iloc[]: {} sec".format(iloc_end_time-iloc_start_time))

Time using .loc[]: 0.002582073211669922 sec
Time using .iloc[]: 0.0010418891906738281 sec

- iloc does better: There is an explanation for that, .iloc() takes advantages of the sorted position of each rows, simplifying the computations needed.

## Column selection: .iloc[] vs by name

- In the previous exercise, you saw how the .loc[] and .iloc[] functions can be used to locate specific rows of a DataFrame (based on the index). Turns out, the .iloc[] function performs a lot faster (~ 2 times) for this task!

- Another important task is to find the faster function to select the targeted features (columns) of a DataFrame. In this exercise, we will compare the following:

    - using the index locator .iloc()
    - using the names of the columns While we can use both functions to perform the same task, we are interested in which is the most efficient in terms of speed.

In [8]:
# Use .iloc to select the first 6 columns and record the times before and after
iloc_start_time = time.time()
cols = poker_hands.iloc[:,0:6]
iloc_end_time = time.time()

# Print the time it took
print("Time using .iloc[] : {} sec".format(iloc_end_time - iloc_start_time))

# Use simple column selection to select the first 6 columns 
names_start_time = time.time()
cols = poker_hands[['S1', 'R1', 'S2', 'R2', 'S3', 'R3']]
names_end_time = time.time()

# Print the time it took
print("Time using selection by name : {} sec".format(names_end_time-names_start_time))

Time using .iloc[] : 0.0006010532379150391 sec
Time using selection by name : 0.0053691864013671875 sec

- Now, in theory, selection by name should have been quicker but clearly isn't here.
- The reason selection by name would have been quicker is because iloc needs both rows and columns needed which takes more time

## Select random rows

- In this exercise, you will compare the two methods described for selecting random rows (entries) with replacement in a pandas DataFrame:

    - The built-in pandas function .random()
    - The NumPy random integer number generator np.random.randint()

- Generally, in the fields of statistics and machine learning, when we need to train an algorithm, we train the algorithm on the 75% of the available data and then test the performance on the remaining 25% of the data.

- For this exercise, we will randomly sample the 75% percent of all the played poker hands available, using each of the above methods, and check which method is more efficient in terms of speed.

In [9]:
# Extract number of rows in dataset
N=poker_hands.shape[0]

# Select and time the selection of the 75% of the dataset's rows
rand_start_time = time.time()
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Time using Numpy: {} sec".format(time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
print("Time using .sample: {} sec".format(time.time() - samp_start_time))

Time using Numpy: 0.005445957183837891 sec
Time using .sample: 0.002415895462036133 sec

## Random column selection

In [10]:
# Extract number of columns in dataset
D=poker_hands.shape[1]

# Select and time the selection of 4 of the dataset's columns using NumPy
np_start_time = time.time()
poker_hands.iloc[:,np.random.randint(low=0, high=D, size=4)]
print("Time using NymPy's random.randint(): {} sec".format(time.time() - np_start_time))

# Select and time the selection of 4 of the dataset's columns using pandas
pd_start_time = time.time()
poker_hands.sample(4, axis=1)
print("Time using panda's .sample(): {} sec".format(time.time() - pd_start_time))

Time using NymPy's random.randint(): 0.0015060901641845703 sec
Time using panda's .sample(): 0.0013928413391113281 sec

# Replacing values in a DataFrame

## Replace scalar values using .replace()

### Replacing scalar values I
- In this exercise, we will replace a list of values in our dataset by using the .replace() method with another list of desired values.

- We will apply the functions in the poker_hands DataFrame. Remember that in the poker_hands DataFrame, each row of columns R1 to R5 represents the rank of each card from a player's poker hand spanning from 1 (Ace) to 13 (King). The Class feature classifies each hand as a category, and the Explanation feature briefly explains each hand.

- The poker_hands DataFrame is already loaded for you, and you can explore the features Class and Explanation.

- Remember you can always explore the dataset and see how it changes in the IPython Shell, and refer to the slides in the Slides tab.

In [27]:
# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=False)
# Replace Class 2 to -3
poker_hands['Class'].replace(2, -3, inplace=False)

print(poker_hands[['Class']])

       Class
0          9
1          9
2          9
3          9
4          9
...      ...
25005      0
25006      1
25007      1
25008      1
25009      1

[25010 rows x 1 columns]

### Replace scalar values II

- As discussed in the video, in a pandas DataFrame, it is possible to replace values in a very intuitive way: we locate the position (row and column) in the Dataframe and assign in the new value you want to replace with. In a more pandas-ian way, the .replace() function is available that performs the same task.

In [12]:
names = baby.copy()

start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

Time using .loc[]: 0.005151987075805664 sec

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0016722679138183594 sec

## Replace values using lists

### Replace multiple values I
- In this exercise, you will apply the .replace() function for the task of replacing multiple values with one or more values. You will again use the names dataset which contains, among others, the most popular names in the US by year, gender and Ethnicity.

In [14]:
names = baby.copy()

start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') | 
                      (names["Ethnicity"] == 'BLACK NON HISPANIC') | 
                      (names['Ethnicity'] == 'WHITE NON HISP') | 
                      (names['Ethnicity'] == 'WHITE NON HISPANIC')] = 'NON HISPANIC'

print("Time using .loc[]: sec".format(time.time() - start_time))

Time using .loc[]: sec

In [15]:
names = baby.copy()

start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0017120838165283203 sec

### Replace multiple values II

- As discussed in the video, instead of using the .replace() function multiple times to replace multiple values, you can use lists to map the elements you want to replace one to one with those you want to replace them with.

- As you have seen in our popular names dataset, there are two names for the same ethnicity. We want to standardize the naming of each ethnicity by replacing

    - 'ASIAN AND PACI' to 'ASIAN AND PACIFIC ISLANDER'
    - 'BLACK NON HISP' to 'BLACK NON HISPANIC'
    - 'WHITE NON HISP' to 'WHITE NON HISPANIC'

In [16]:
names = baby.copy()

start_time = time.time()

# Replace ethnicities as instructed
names['Ethnicity'].replace(['ASIAN AND PACI','BLACK NON HISP', 'WHITE NON HISP'], ['ASIAN AND PACIFIC ISLANDER','BLACK NON HISPANIC','WHITE NON HISPANIC'], inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0013890266418457031 sec

## Replace values using dictionaries


### Replace single values I

In [72]:
poker_hands_copy = poker_hands.copy()

# Replace Royal flush or Straight flush to Flush
# Note that column is not specified.
poker_hands_copy.replace({'Royal flush':'Flush', 'Straight flush':'Flush'}, inplace=True)

print(poker_hands_copy['Explanation'].head())

0    Flush
1    Flush
2    Flush
3    Flush
4    Flush
Name: Explanation, dtype: object

### Replace single values II

In [78]:
# Copy the DF
names_replace = names.head()
print(names_replace,'\n\n')

# Replace the number rank by a string
# Note that column is specified, unlike earlier
names_replace['Rank'].replace({1:'FIRST', 2:'SECOND', 3:'THIRD'}, inplace=True)
print(names_replace.head())

   Year of Birth  Gender                   Ethnicity Child's First Name  \
0           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA
1           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              CHLOE
2           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              EMILY
3           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             OLIVIA
4           2011  FEMALE  ASIAN AND PACIFIC ISLANDER               EMMA

   Count  Rank
0    119     1
1    106     2
2     93     3
3     89     4
4     75     5


   Year of Birth  Gender                   Ethnicity Child's First Name  \
0           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA
1           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              CHLOE
2           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              EMILY
3           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             OLIVIA
4           2011  FEMALE  ASIAN AND PACIFIC ISLANDER               EMMA

   Count    Rank
0    119   FIRST
1    106  SECOND
2     93   THIRD
3     89       4
4     75       5

### Replace multiple values III

In [80]:
names_copy = names.copy()
print(names_copy.head())

# Replace the rank of the first three ranked names to 'MEDAL'
names_copy.replace({'Rank': {1:'MEDAL', 2:'MEDAL', 3:'MEDAL'}}, inplace=True)

# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names_copy.replace({'Rank': {4:'ALMOST MEDAL', 5:'ALMOST MEDAL'}}, inplace=True)
print(names_copy.head())

   Year of Birth  Gender                   Ethnicity Child's First Name  \
0           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA
1           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              CHLOE
2           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              EMILY
3           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             OLIVIA
4           2011  FEMALE  ASIAN AND PACIFIC ISLANDER               EMMA

   Count  Rank
0    119     1
1    106     2
2     93     3
3     89     4
4     75     5
   Year of Birth  Gender                   Ethnicity Child's First Name  \
0           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA
1           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              CHLOE
2           2011  FEMALE  ASIAN AND PACIFIC ISLANDER              EMILY
3           2011  FEMALE  ASIAN AND PACIFIC ISLANDER             OLIVIA
4           2011  FEMALE  ASIAN AND PACIFIC ISLANDER               EMMA

   Count          Rank
0    119         MEDAL
1    106         MEDAL
2     93         MEDAL
3     89  ALMOST MEDAL
4     75  ALMOST MEDAL

# Efficient iterating
 
## Looping using the .iterrows() function

### Create a generator for a pandas DataFrame

- you can easily create a generator out of a pandas DataFrame. Each time you iterate through it, it will yield two elements:

    - the index of the respective row
    - a pandas Series with all the elements of that row

In [81]:
# Create a generator over the rows
generator = poker_hands.iterrows()

# Access the elements of the 2nd row
first_element = next(generator)
second_element = next(generator)
print(first_element, second_element)

(0, S1                       1
R1                      10
S2                       1
R2                      11
S3                       1
R3                      13
S4                       1
R4                      12
S5                       1
R5                       1
Class                    9
Explanation    Royal flush
Name: 0, dtype: object) (1, S1                       2
R1                      11
S2                       2
R2                      13
S3                       2
R3                      10
S4                       2
R4                      12
S5                       2
R5                       1
Class                    9
Explanation    Royal flush
Name: 1, dtype: object)

### The iterrows() function for looping

In [84]:
data_generator = poker_hands.iterrows()

for index, values in data_generator:
  	# Check if index is odd
    if index%2 == 1:
      	# Sum the ranks of all the cards
        hand_sum = sum([values[1], values[3], values[5], values[7], values[9]])

## Looping using the .apply() function


- Apply doesn't have to be only for rows. Switching axis=0 will run it for columns as well.

In [92]:
# Define the lambda transformation
get_square = lambda x: x**2

# Apply the transformation
data_sum = poker_hands.iloc[:,:-2].apply(get_square)
print(data_sum.head())

   S1   R1  S2   R2  S3   R3  S4   R4  S5   R5
0   1  100   1  121   1  169   1  144   1    1
1   4  121   4  169   4  100   4  144   4    1
2   9  144   9  121   9  169   9  100   9    1
3  16  100  16  121  16    1  16  169  16  144
4  16    1  16  169  16  144  16  121  16  100

### .apply() for rows iteration

In [93]:
get_variance = lambda x: np.var(x)

# Apply the transformation
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=0)
print(data_tr.head())

R1    14.060473
R2    14.189523
R3    14.024270
R4    14.040552
R5    13.998851
dtype: float64

## Vectorization over pandas series

In [94]:
# Calculate the mean rank in each hand
row_start_time = time.time()
mean_r = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=1)
print("Time using pandas vectorization for rows: {} sec".format(time.time() - row_start_time))
print(mean_r.head())

# Calculate the mean rank of each of the 5 card in all hands
col_start_time = time.time()
mean_c = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=0)
print("Time using pandas vectorization for columns: {} sec".format(time.time() - col_start_time))
print(mean_c.head())

Time using pandas vectorization for rows: 0.0042269229888916016 sec
0    9.4
1    9.4
2    9.4
3    9.4
4    9.4
dtype: float64
Time using pandas vectorization for columns: 0.0015757083892822266 sec
R1    6.995242
R2    7.014194
R3    7.014154
R4    6.942463
R5    6.962735
dtype: float64

### Vectorization with NumPy arrays using .values()

In [95]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].var(axis=1)
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))
print(poker_var.head())

Time using pandas vectorization: 0.003256082534790039 sec
0    23.3
1    23.3
2    23.3
3    23.3
4    23.3
dtype: float64

In [96]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].values.var(axis=1, ddof=1)
print("Time using NumPy vectorization: {} sec".format(time.time() - start_time))
print(poker_var[0:5])

Time using NumPy vectorization: 0.004090785980224609 sec
[23.3 23.3 23.3 23.3 23.3]

- In theory, vectorization with numpy is quicker

# Data manipulation using .groupby()

## Data transformation using .groupby().transform

### The min-max normalization using .transform()
- A very common operation is the min-max normalization. It consists in rescaling our value of interest by deducting the minimum value and dividing the result by the difference between the maximum and the minimum value. For example, to rescale student's weight data spanning from 160 pounds to 200 pounds, you subtract 160 from each student's weight and divide the result by 40 (200 - 160).

- You're going to define and apply the min-max normalization to all the numerical variables in the restaurant data. You will first group the entries by the time the meal took place (Lunch or Dinner) and then apply the normalization to each group separately.

In [97]:
restaurant_data = resturant.copy()

# Define the min-max transformation
min_max_tr = lambda x: (x - x.min()) / (x.max() - x.min())

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)
print(restaurant_min_max_group.head())

   total_bill       tip  size
0    0.291579  0.001111   0.2
1    0.152283  0.073333   0.4
2    0.375786  0.277778   0.4
3    0.431713  0.256667   0.2
4    0.450775  0.290000   0.6

### Transforming values to probabilities
- In this exercise, we will apply a probability distribution function to a pandas DataFrame with group related parameters by transforming the tip variable to probabilities.

- The transformation will be a exponential transformation. The exponential distribution is defined as

`eâˆ’Î»âˆ—xâˆ—Î»`
- where Î» (lambda) is the mean of the group that the observation x belongs to.

- You're going to apply the exponential distribution transformation to the size of each table in the dataset, after grouping the data according to the time of the day the meal took place. Remember to use each group's mean for the value of Î».

- In Python, you can use the exponential as np.exp() from the NumPy library and the mean value as .mean().

In [98]:
# Define the exponential transformation
exp_tr = lambda x: np.exp(-x.mean()*x) * x.mean()

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_exp_group = restaurant_grouped['tip'].transform(exp_tr)
print(restaurant_exp_group.head())

0    0.135141
1    0.017986
2    0.000060
3    0.000108
4    0.000042
Name: tip, dtype: float64

### Validation of normalization
For this exercise, we will perform a z-score normalization and verify that it was performed correctly.

A distinct characteristic of normalized values is that they have a mean equal to zero and standard deviation equal to one.

After you apply the normalization transformation, you can group again on the same variable, and then check the mean and the standard deviation of each group.

You will apply the normalization transformation to every numeric variable in the poker_grouped dataset, which is the poker_hands dataset grouped by Class.

In [101]:
poker_grouped = poker_hands.groupby('Class')

zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)

# Re-group the grouped object
poker_regrouped = poker_trans.groupby(poker_hands['Class'])

# Print each group's means and standard deviation
print(np.round(poker_regrouped.mean(), 3))
print(poker_regrouped.std())

        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
0      0.0  0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0
1     -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0  0.0 -0.0  0.0
2     -0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0
3     -0.0  0.0  0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0
4      0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  0.0
5     -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0
6     -0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0 -0.0  0.0
7      0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0
8     -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0
9      0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0  0.0  0.0 -0.0
        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
0      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
8      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

## Data filtration using the filter() function

In [102]:
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Select only the entries that have a mean total_bill greater than $20
total_bill_20 = total_bill_40.groupby('day').filter(lambda x : x['total_bill'].mean() > 20)

# Print days of the week that have a mean total_bill greater than $20
print('Days of the week that have a mean total_bill greater than $20:', total_bill_20.day.unique())

Days of the week that have a mean total_bill greater than $20: ['Sun' 'Sat']