In [9]:
# loading Libraries + Files
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

In [28]:
# Creating dataframes required below
# Importing data required below
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
df_basic = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df_miss = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
data_grp = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df_grp = pd.DataFrame(data_grp)
df_op = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

# Frequently used Operations

In [6]:
## determine "type" of an object
type(ser1)

pandas.core.series.Series

In [18]:
## Conditional Selection
df_basic[(df_basic['W']>0) & (df_basic['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [24]:
# Dropping na
df_miss.dropna(axis=1)

   C
0  1
1  2
2  3

In [21]:
# Replacing NA values
df_miss['A'].fillna(value=df_miss['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [27]:
# Looking at summary stats
df_basic.describe().transpose()

   count      mean       std       min       25%       50%       75%       max
W    5.0  0.281744  1.338333 -0.993263 -0.925874  0.147027  1.025984  2.154846
X    5.0  0.162672  1.000436 -0.610259 -0.479448 -0.156598  0.196800  1.862864
Y    5.0 -0.499719  0.743748 -1.136645 -1.133817 -0.755325 -0.031579  0.558769
Z    5.0  0.387812  0.550728 -0.346419  0.000366  0.610478  0.649826  1.024810

In [31]:
df_basic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
W    5 non-null float64
X    5 non-null float64
Y    5 non-null float64
Z    5 non-null float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [33]:
# Sum of a col
df_op['col1'].sum()
# You can perform multiple operations on a column: unique, nunique, value_counts(), sort_values, isnull, dropna,fillna

10

In [34]:
# Unique values for a given column
df_op['col1'].value_counts()

4    1
3    1
2    1
1    1
Name: col1, dtype: int64

In [ ]:
# Reading and writing csv
df = pd.read_csv('example')
df.to_csv('example',index=False)
# Similar implementation for excel with read_excel, to_excel
# Also html : read_html